@page
@model InicioModel
@{
}

<script type="text/javascript">
	function ShowLogin() {
		$("#frmLogin").show();
		HiddenCadastrar();
		$("#mainMsgErro").hide();
	}

	function ShowCadastrar() {
		$("#frmCadastrar").show();
		HiddenLogin();
		mainMsgErro
		$("#mainMsgErro").hide();
	}

	function HiddenLogin() {
		$("#frmLogin").hide();
	}

	function HiddenCadastrar() {
		$("#frmCadastrar").hide();
	}

	function ShowCadastrarProduto() {
		$("#frmCadastrarProduto").show();

		$("#inputCadastroProdutoNome").val("");
		$("#inputCadastroProdutoDescricao").val("");
		$("#inputCadastroProdutoEspecificacoes").val("");
		$("#inputCadastroProdutoItensEstoque").val("");
	}
</script>
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
	@if (Model.UsuarioLogado)
	{
		<label class="navbar-brand">@Model.DadosLogin.Nome</label>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="btn btn-outline-success my-2 my-sm-0 nav-link " onclick="ShowCadastrarProduto()">Cadastrar Produto</a>
			</li>
		</ul>
	}
	else
	{
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" onclick="ShowLogin()">Login</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" onclick="ShowCadastrar()">Cadastro</a>
				</li>
			</ul>
		</div>
	}
</nav>

@if (!string.IsNullOrEmpty(Model.MensagemErro))
{
	<main role="main" id="mainMsgErro" class="container">
		<section class="jumbotron text-center">
			<h2>@Model.MensagemErro</h2>
		</section>
	</main>
}

<main role="main" class="container">
	<form id="frmLogin" style="display:none" method="post">
		<section class="jumbotron text-center">
			<div class="container col-md-4">
				<h2 class="form-signin-heading">Dados de Login</h2>
				<input type="text" id="inputLogin" asp-for="EfetuarLogin.Login" class="form-control margin10" placeholder="Login" required="" autofocus="">
				<input type="password" asp-for="EfetuarLogin.Senha" id="inputPassword" class="form-control margin10" placeholder="Senha" required="">
				<button class="btn btn-lg btn-primary btn-block margin10" asp-page-handler="Login" type="submit">Login</button>
			</div>
		</section>
	</form>


	<form id="frmCadastrar" style="display:none" method="post">
		<section class="jumbotron text-center">
			<div class="container col-md-4">
				<h2 class="form-signin-heading">Dados para Cadastro</h2>
				<input type="text" id="inputCadastroNome" asp-for="EfetuarCadastro.Nome" class="form-control margin10" placeholder="Nome" required="" autofocus="">
				<input type="email" id="inputCadastroEmail" asp-for="EfetuarCadastro.Email" class="form-control margin10" placeholder="Email" required="" autofocus="">
				<input type="text" id="inputCadastroLogin" asp-for="EfetuarCadastro.Login" class="form-control margin10" placeholder="Login" required="" autofocus="">
				<input type="password" id="inputCadastroPassword" asp-for="EfetuarCadastro.Senha" class="form-control margin10" placeholder="Senha" required="">
				<button class="btn btn-lg btn-primary btn-block margin10" asp-page-handler="Cadastrar" type="submit">Cadastrar</button>
			</div>
		</section>
	</form>
	@if (Model.UsuarioLogado)
	{
		<form id="frmCadastrarProduto" style="display:none" asp-antiforgery="true" method="post">
			<section class="jumbotron text-center">
				<div class="container col-md-4">
					<h2 class="form-signin-heading">Dados para Cadastro de Produto</h2>
					<input type="text" id="inputCadastroProdutoNome" asp-for="CadastrarProduto.Nome" class="form-control margin10" placeholder="Nome" required="" autofocus="">
					<input type="text" id="inputCadastroProdutoDescricao" asp-for="CadastrarProduto.Descricao" class="form-control margin10" placeholder="Descricao" required="" autofocus="">
					<input type="text" id="inputCadastroProdutoEspecificacoes" asp-for="CadastrarProduto.Especificacoes" class="form-control margin10" placeholder="Especificacoes" required="" autofocus="">
					<input type="number" id="inputCadastroProdutoItensEstoque" asp-for="CadastrarProduto.ItensEstoque" class="form-control margin10" placeholder="ItensEstoque" required="">
					<button class="btn btn-lg btn-primary btn-block margin10" asp-page-handler="CadastrarProduto" type="submit">Cadastrar Produto</button>
					<input type="hidden" id="dadosLogin1" asp-for="DadosLogin.Id" />
					<input type="hidden" id="dadosLogin2" asp-for="DadosLogin.Login" />
					<input type="hidden" id="dadosLogin3" asp-for="DadosLogin.Nome" />
					<input type="hidden" id="dadosLogin4" asp-for="DadosLogin.ChaveJwt" />
					<input type="hidden" id="dadosLogin5" asp-for="DadosLogin.Email" />
					<input type="hidden" id="dadosLogin6" asp-for="UsuarioLogado" />
				</div>
			</section>
		</form>

		@if (Model.produtos != null)
		{
			<form>
				<div class="jumbotron">
					<div class="container">
						<div class="row">
							@foreach (var item in Model.produtos)
							{
								<div class="card col-md-5" style="margin:5px">
									Nome: @item.Nome
									<br />
									Descrição: @item.Descricao
									<br />
									Especificações: @item.Especificacao
									<br />
									Estoque: @item.QuantidadeEstoque
								</div>
							}
						</div>
					</div>
				</div>
			</form>
		}
	}
</main>
